{% extends 'base.html' %}
{% block content %}

<div class="row docs-premium-template">

         {% for img in imglist %}
        <div class="col-sm-12 col-md-6">
                <div class="box box-solid">
                    <div class="box-body">
                        <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                           {{img.tag}}
                        </h4>
                        <div class="media">
                            <div class="media-left">
                                <a href="https://themequarry.com/theme/edura-multipurpose-website-template-ASFEDA84">
                                    <img src="https://themequarry.com/storage/images/approved/ASFEDA84_v1.0.0_5808f979de3ca.png" alt="Edura" class="media-object" style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="clearfix">
                                    <p class="pull-right">
                                        <a href="/admin/dockervul/start/{{img.id}}" class="btn btn-success btn-sm">
                                            启动镜像
                                        </a>
                                    </p>

                                    <h4 style="margin-top: 0"></h4>

                                    <p>默认地址 127.0.0.1：8080</p>
                                    <p style="margin-bottom: 0">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        {% endfor %}

</div>
{% endblock %}
